 
 
      .links{
        background-color: var(--action-color) ;
        color: var(--main-color) ;
        padding: 5px 20px;
        border-radius: 20px;  
       }
.card p{
    color: var(--main-color);
    font-size: large;
    font-weight: bold;
}
       .card .overlay{
        background-color: rgba(0, 0, 0, 0.863);
        transform: scaleY(0);
        transition: transform .5s;
        border-radius: inherit;
       }
     
       .card:hover .overlay{
        transform: scaleY(1);
        border-radius: inherit;
       }
       
    