 
.dialogActions:hover{
    cursor: pointer;
}
.content{
    font-size:  large !important;
}
.title , .dialogActions{
    font-weight: bold;
    font-size:  x-large !important;
    color:var(--main-color)
}
.title_and_closeIcon{
    background-color: var(--primary-color);
}