.statistics{
    /* background-color: #4d6d4d; */
    background-image: url(../../img/headerBg2.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position-y:-50px ;
 
 background-repeat: no-repeat;
 
  }
  .statistics .right_content{
    /* background-image: url(../../img/headerBg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y:-60px ;
    background-position-x:-40px ;  */
  }
  
 .box{
  /* background-color: var(--main-color);
  text-align: center;
  padding: 10px 0px 10px 0px;
  border:1px #A68A64; */
  background-color: var(--main-color); /* خلفية البطاقات */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.7s ease;
 }
 .box:hover{
  transform: scale(1.05); /* تأثير على البطاقة عند التمرير */
 }
 .box:hover .box_icon{
  
 }
  .box_icon{
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    margin: auto;
    font-size: 48px;
  }
 
  .statistics .left_content{
    /* margin-top: 50px; */
    /* background-color: #666; */
  }
  
  
  .statistics .left_content .box_icon{
      font-size: 36px;
      margin-bottom: 22px;
      height: 70px;
      width: 70px;
  }
  .muiIcon{
    color: var(--primary-color);
   }
  .statistics .left_content .box_title{
      /* font-size: 40px;
      margin-bottom: 3px; */
    font-size: 36px;
    font-weight: bold;
    color: var(--highlight-color); /* الأرقام باللون الأسود للوضوح */
  }
  .statistics .left_content .box_text{
      width: 13rem;
      background-color: transparent;
      text-align: initial;
  }
  .statistics .left_content .box_text p{
      font-size: 20px;
      font-weight: 600;
      color: var(--highlight-color);
      width: 13rem;
  }
