* {
  font-family: "Cairo", sans-serif;
}
.post-card {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}

.post-card .card-header {
  background-color: #f8f9fa;
  border-radius: 10px 10px 0 0;
  padding: 0;
  position: relative;
}

.post-card .card-body {
  padding: 15px 10px;
  direction: rtl;
}

.post-card .card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.post-card .card-text {
  line-height: 1.4;
  font-size: 16px;
}

.post-card .post-card-footer {
  text-align: center;
  margin-top: 5px;
}

.post-card .read-more-btn {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: bold;
}

.author-section {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-right: 10px;
}

.author-name-time {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: bolder;
  font-size: 20px;
  color: #333;
}

.date-no-image {
  font-size: 10px;
  color: #888;
}

.MuiAvatar-root {
  width: 50px;
  height: 50px;
  font-size: 20px;
}
