.post-card {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}

.post-card .card-header {
  background-color: #f8f9fa;
  border-radius: 10px 10px 0 0;
  padding: 0;
  position: relative;
}

.post-card .post-date {
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: rgba(92, 92, 92, 0.4);
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  direction: rtl;
}

.post-card .card-body {
  padding: 15px 10px;
  direction: rtl;
}

.post-card .card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.post-card .card-text {
  line-height: 1.6;
  font-size: 16px; 
}

.post-card .post-card-footer {
  text-align: center;
  margin-top: 5px;
}

.post-card .read-more-btn {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: bold;
}

