 .header{
    /* background-image: url('../../img/testBg.jpg'); */
    background-image: url('../../img/test.jpg');
    /* background-position-y:-51px ; */
    background-position-y:-250px ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    color: var(--main-color); 
    /* animation: slider 10s alternate infinite ; */
}
/* @keyframes slider {
  0%{background-image: url('../../img/headerBg3.jpg');}
  /* 50%{background-image: url('../../img/headerBg4.jpg');} */
  /* 60%{background-image: url('../../img/headerBg1.jpg');} */
  /* 100%{background-image: url('../../img/headerBg4.jpg');} */
  /* 100%{background-image: url('../../img/headerBg2.jpg');} */
/* }  */
 .header_cover{
  background: linear-gradient(to bottom, rgba(39, 35, 35, 0.911),rgba(39, 35, 35, 0.712),rgba(39, 35, 35, 0.911));
  /* background-color: rgba(44, 40, 40, 0.61); */
   /* background-color: rgba(255, 255, 255, 0.185); */
   backdrop-filter: blur(1px);
  height: 100%;
}

 .header_cover .header_content{
  /* background-color: rgba(138, 38, 38, 0.89); */
   margin-bottom: 5rem;
 
 }
 .title h1 {
  font-size: 3rem;
  font-weight: bold; /* Bold */ 
  margin-bottom: 1rem;
}
.description h2{
  /* color: var(--highlight-color);  */
  font-weight: bold;
  
}
.header p{
    font-size: 23px; 
    margin-top: 2px;
    width: fit-content;
     margin: auto;
    white-space: nowrap;
    overflow:hidden;
    border-left:1px solid #3333;
    animation: typing 3s steps(45) forwards, blink 0.7s steps(45) infinite; }

@keyframes typing{
 from {
   width: 0;
 }
 to{
   width: 486px;
 }
}
@keyframes blink{
 from{
   border-color:var(--main-color);
 }
 to{
   border-color: #33333305;
 }}
  
.joinBtn .btn{
    border:2px solid var(--action-color)  ;
    color: var(--main-color); 
    font-weight: bold;
 
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
}
.joinBtn .btn:hover{
  background-color: var(--action-color) ;
  font-weight: bold;
  color: var(--text-color-against-dark-background) ;
}
 

 