 /*font-family: 'Dosis', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700;800&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700;900&display=swap');

.header{
    background-image: url('../../img/testBg.jpg');
    /* background-position-y:-51px ; */
    background-position-y:-1000px ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    /* animation: slider 10s alternate infinite ; */
}
/* @keyframes slider {
  0%{background-image: url('../../img/headerBg3.jpg');}
  /* 50%{background-image: url('../../img/headerBg4.jpg');} */
  /* 60%{background-image: url('../../img/headerBg1.jpg');} */
  /* 100%{background-image: url('../../img/headerBg4.jpg');} */
  /* 100%{background-image: url('../../img/headerBg2.jpg');} */
/* }  */
 .header_cover{
  background: linear-gradient(to bottom, rgba(39, 35, 35, 0.911),rgba(39, 35, 35, 0.712),rgba(39, 35, 35, 0.911));
  /* background-color: rgba(44, 40, 40, 0.61); */
   /* background-color: rgba(255, 255, 255, 0.185); */
   backdrop-filter: blur(1px);
  height: inherit;
}

 .header_cover .header_content{
  /* background-color: rgba(255, 255, 255, 0.89); */
   /* margin-left: 9rem; */
   border-radius: 30px;
   
 }
 .title h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  /* color: var(--highlight-color);  */
  color: var(--main-color); 
 
}
.description h2{
  /* color: var(--highlight-color);  */
  color: var(--main-color); 
  font-weight: bold;
}
.header p{
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-top: 2px;
    /* color: var(--highlight-color);  */
    color: var(--main-color); 
    margin-right: 5rem;
    white-space: nowrap;
    overflow:hidden;
    border-left:1px solid #3333;
    animation: typing  3s infinite alternate-reverse steps(45) , blink infinite 0.7s;/* changeContent 12s infinite*/
}

@keyframes typing{
 from {
   width: 0;
 }
 to{
   width: 394px;
 }
}
@keyframes blink{
 from{
   border-color:#333333bd ;
 }
 to{
   border-color: #33333300;
 }}
 /* @keyframes changeContent {
  0% {
    content: "Welcome to our platform!";
  }
  33% {
    content: "Managing Quranic schools made easy.";
  }
  66% {
    content: "Track progress, attendance, and more.";
  }
  100% {
    content: "Welcome to our platform!"; /* Repeat the first phrase */
 
.joinBtn .btn{
    border:2px solid var(--action-color)  ;
    /* color: var( --botton-hover-color) ; */
    color: var(--main-color); 
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
.joinBtn .btn:hover{
  background-color: var(--action-color) ;
  font-weight: bold;
  color: var(--text-color-against-dark-background) ;
}
 

 