.editIconDiv{
    margin-top: 10.5rem; 
     border-radius: 50% !important;
     height: 3rem;
     width: 3rem;
   
   }
     
   .deleteIconDiv{
    margin-top: 7.3rem;
    border-radius: 50% !important;
    height: 3rem;
    width: 3rem;
   }

   .Icon{
   color: var(--main-color);
   }
  
   